.container {
    width: 1200px;
    h4{
      margin-top: 20px;
      color: rgba($color: #0175e2, $alpha: 1.0);
      font-size: 20px;
    }
    img{
      margin-bottom: 30px;
    }
  }
  
.main-img-box{
    width: 80%;
    flex: none;
    // height: 800px;
    // background-image: url(../assets/main_bus1.jpg);
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    // overflow: hidden;
}

.time-search{
  margin-bottom: 20px;
  height: 70%;
}